<html>

<head>
  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/jquery-jsonview/dist/jquery.jsonview.js"></script>
  <script src="app/bower_components/superagent/superagent.js"></script>
  <script src="app/bower_components/cmis/lib/cmis.js"></script>
  <script src="app/bower_components/angularjs/angular.min.js"></script>
  <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/workbench.js"></script>
  <script src="js/services/cmisSession.js"></script>
  <script src="js/controllers/MainController.js"></script>
  <script src="js/controllers/QueryController.js"></script>
  <script src="js/controllers/InfoController.js"></script>
  <script src="js/controllers/BrowserController.js"></script>
  <link href="app/bower_components/jquery-jsonview/dist/jquery.jsonview.css" rel='stylesheet' type='text/css'>
  <link href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
  <link href="app/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel='stylesheet' type='text/css'>
</head>

<body ng-app="workbench" ng-controller="MainController">


  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <span class="navbar-brand">CMIS Web Workbench</span>
      </div>
      <ul class="nav navbar-nav" role="tablist">
        <li class="active">
          <a href="#query" role="tab" data-toggle="tab">Query</a>
        </li>
        <li>
          <a href="#info" role="tab" data-toggle="tab">Info</a>
        </li>
        <li>
          <a href="#browse" role="tab" data-toggle="tab">Browse</a>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <label for="skipCount">Skip Count:</label>
          <input class="form-control" id="skipCount" type="number" style="width:6em;margin-right: 1em;" min="0" ng-model="options.skipCount">
        </div>
        <div class="form-group">
          <label for="maxItems">Max Items:</label>
          <input class="form-control" id="maxItems" type="number" style="width:6em;margin-right: 1em;" min="0" ng-model="options.maxItems">
        </div>
        <div class="form-group">
          <label>Succinct
            <input type="checkbox" ng-model="options.succinct">
          </label>
        </div>
      </form>

    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content">
          <div class="tab-pane active" id="query" ng-controller="QueryController">
            <form>
              <div class="row form-group">
                <div class="col-md-12">
                  <textarea ng-model="query" class="form-control" rows="{{query.split('\n').length+1}}"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-4">
                  <label class="form-control">Include Allowable Actions
                    <input type="checkbox" ng-model="options.includeAllowableActions">
                  </label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" id="includeRelationships" ng-model="options.includeRelationships">
                    <option selected value="">Include Relationships:</option>
                    <option selected value="source">Source</option>
                    <option selected value="target">Target</option>
                    <option selected value="both">Both</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <label class="form-control">Search all versions

                    <span ng-if="!canSearchAllVersions">(not available)</span>
                    <input type="checkbox" ng-if="canSearchAllVersions" ng-model="searchAllVersions">
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" ng-click="runQuery()">Run Query</button>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane" id="browse" ng-controller="BrowserController">
            <div class="row form-group">
              <div class="col-sm-6">
                <div class="breadcrumb">{{prop(object,'cmis:path')}}</div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-btn">
                    <a class="btn btn-primary" ng-click="goToParent()"> Parent </a>
                    <a class="btn btn-primary" ng-click="getObject(object)">Object</a>
                    <a class="btn btn-primary" ng-click="getChildren()">Children</a>
                    <a class="btn btn-primary" ng-click="getFolderTree(object)">Folder Tree</a>
                    <a class="btn btn-primary" ng-click="getDescendants(object)">Descendants</a>
                  </div>
                  <input type="number" class="form-control" ng-model="options.depth" placeholder="Depth">
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-sm-4">
                <input type="text" ng-model="options.filter" class="form-control" placeholder="Filter">
              </div>
              <div class="col-sm-4">
                <input type="text" ng-model="options.orderBy" class="form-control" placeholder="Order By">
              </div>
              <div class="col-sm-4">
                <input type="text" ng-model="options.renditionFilter" class="form-control" placeholder="Rendition Filter">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4">
                <label class="form-control">Include Allowable Actions
                  <input type="checkbox" ng-model="options.includeAllowableActions">
                </label>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="includeRelationships" ng-model="options.includeRelationships">
                  <option selected value="">Include Relationships:</option>
                  <option selected value="source">Source</option>
                  <option selected value="target">Target</option>
                  <option selected value="both">Both</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label class="form-control">Include Path Segment
                  <input type="checkbox" ng-model="options.includePathSegments">
                </label>
              </div>
            </div>
            <div class="row" ng-repeat="child in children.objects">
              <div class="col-sm-6">
                <div class="breadcrumb">{{prop(child.object,'cmis:name')}}</div>
              </div>
              <div class="col-sm-6">
                <div class="btn-group form-group">
                  <a class="btn btn-primary" ng-click="getObject(child.object)">Object</a>

                  <a ng-show="{{prop(child.object,'cmis:baseTypeId')=='cmis:folder'}}" class="btn btn-primary" ng-click="goto(child.object)">
                    Children
                  </a>
                  <a ng-show="{{prop(child.object,'cmis:baseTypeId')=='cmis:document'}}" target="_blank" href="{{contentURL(child.object)}}" class="btn btn-primary">
                    Content
                  </a>
                  <a class="btn btn-primary" ng-show="prop(child.object,'cmis:baseTypeId')=='cmis:document' && prop(child.object,'cmis:versionSeriesCheckedOutId')==null" ng-click="checkOut(child.object)">Check Out</a>
                  <a class="btn btn-primary" ng-show="prop(child.object,'cmis:baseTypeId')=='cmis:document' && prop(child.object,'cmis:isPrivateWorkingCopy')" ng-click="cancelCheckOut(child.object)">Cancel Check Out</a>
                  </span>
                  <a class="btn btn-primary" ng-click="getAllVersions(child.object)">Versions</a>
                </div>
              </div>

            </div>

            <div class="row form-grop">
              <div class="col-sm-4">
                <select class="form-control" id="includeRelationships" ng-model="returnVersion">
                  <option selected value="">Return Version:</option>
                  <option selected value="this">This</option>
                  <option selected value="latest">Latest</option>
                  <option selected value="latestmajor">Latest Major</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label class="form-control">Include ACL
                  <input type="checkbox" ng-model="options.includeACL">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="form-control">Include Policy Ids
                  <input type="checkbox" ng-model="options.includePolicyIds">
                </label>
              </div>
            </div>


          </div>

          <div class="tab-pane" id="info" ng-controller="InfoController">
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getRepositoryInfo()">Get Repository Info</a>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getTypeDefinition()">Get Type Definition</a>
              </div>
              <div class="col-sm-2">
                <input class="form-control" type="text" placeholder="Type ID" ng-model="typeID">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getTypeChildren()">Get Type Children</a>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Type ID" ng-model="typeID">
              </div>
              <div class="col-sm-3">
                <label class="form-control">Include property definitions
                  <input type="checkbox" ng-model="includePropertyDefinitions">
                </label>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getTypeDescendants()">Get Type Descendants</a>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Type ID" ng-model="typeID">
              </div>
              <div class="col-sm-2">
                <input type="number" min="0" class="form-control" placeholder="Depth" ng-model="depth">
              </div>
              <div class="col-sm-3">
                <label class="form-control">Include property definitions
                  <input type="checkbox" ng-model="includePropertyDefinitions">
                </label>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getCheckedOutDocs()">Get Checked Out Docs</a>
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Object ID" ng-model="objectID">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2">
                <a class="btn btn-primary btn-block" ng-click="getContentChanges()">Get Content Changes</a>
              </div>
              <div class="col-sm-2">
                <input class="form-control" type="text" placeholder="ChangeLog Token" ng-model="changeLogToken">
              </div>
              <div class="col-sm-2">
                <label class="form-control">Include properties
                  <input type="checkbox" ng-model="includeProperties">
                </label>
              </div>
              <div class="col-sm-2">
                <label class="form-control">Include Policy IDs
                  <input type="checkbox" ng-model="includePolicyIDs">
                </label>
              </div>
              <div class="col-sm-2">
                <label class="form-control">Include ACL
                  <input type="checkbox" ng-model="includeACL">
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12" class="well">
        <div class="well">
          <div id="json"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
